<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Exemples d'images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
  </head>
  <body>
    <picture>
        <img id="picture" src="data:image/png;base64,{{ img_data }}">
        <figcaption>Image originale</figcaption>    
    </picture>
    <picture>
        <img id="picture" src="data:image/png;base64,{{ tmask_data }}">
        <figcaption>Masque original</figcaption>
    </picture>
    <picture>
        <img id="picture" src="data:image/png;base64,{{ pmask_data }}">
        <figcaption>Masque prédit</figcaption>
    </picture>
    <picture>
        <img id="picture" src="data:image/png;base64,{{ img_with_tmask_data }}">
        <figcaption>Masque original</figcaption>
    </picture>
    <picture>
        <img id="picture" src="data:image/png;base64,{{ img_with_pmask_data }}">
        <figcaption>Masque prédit</figcaption>
    </picture>
    <p><a href="/application_web">Retour aux images</a></p>
  </body>
</html>